.bd-callout-info{
    background-color: #cff4fc;
    border-left: solid 5px #9eeaf9;
    color: #106ebb;

}


.scroll-acordeon{
    overflow-y: auto !important;
    max-height: 50vh;
    position: relative;
  }
  
  /* Estilos del scrollbar */
  .scroll-acordeon::-webkit-scrollbar {
    width: 8px;
  }
  
  .scroll-acordeon::-webkit-scrollbar-thumb {
    background-color: #cfe2ff;
    border-radius: 4px;
  }
  
  .scroll-acordeon::-webkit-scrollbar-thumb:hover {
    background-color: #8ebbff;
  }
  
  .scroll-acordeon::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }