<div>
<div class="modal-header">
    <h4 class="modal-title">
        <i class="bi bi-exclamation-triangle-fill text-warning"></i> Información Sobre las Capas del Mapa
    </h4>
</div>
<div class="modal-body">
    <p>Al activar la opción "Mostrar capas", se visualizarán los cuerpos de agua registrados
         en la ciudad de Cartagena, así como una línea que conecta las diferentes empresas 
         con el cuerpo de agua más cercano. 
        <br>
        <br>
        No obstante, es importante tener en cuenta que la información sobre las fuentes de 
        agua proviene del proyecto OpenStreetMap, el cual es un proyecto colaborativo donde 
        los usuarios pueden registrar y editar datos geográficos. Por lo tanto, es posible que 
        la representación de los cuerpos de agua en este mapa no sea completamente precisa.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Aceptar</button>
</div>
</div>


