<div class="mt-5 container" id="search-component">
    <div class="row justify-content-center mt-5 ">
      <div class="col-md-8 col-lg-8 col-sm-12">
        <div class="input-group">
          <input #searchBox id="search-box" (input)="search(searchBox.value)" type="text" class="form-control" placeholder="Buscar Empresa" >
          <span  class="input-group-text" (click)="clearSearchBox()">
            <i class="bi" [ngClass]="isSearching ? 'bi-trash3' : 'bi-search'"></i>
          </span>
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center ">
      <div class="col-md-8 col-lg-8 col-sm-12 bg-primary">
        <div class="cont-body overflow-auto z-3 position-absolute" style="max-height: 200px;">
          <ul class="list-group" >
            <div *ngFor="let companie of companies$ | async">
              <li class="list-group-item" >
                <a class="link-offset-2 link-underline link-underline-opacity-0" routerLink="/company/detail/{{companie.id}}">
                  {{companie.name}}   
                </a>
              </li>
            </div>    
          </ul>
        </div>
      </div>
    </div>
  </div>